body {
  background-color: hsl(212, 45%, 89%);
  position: relative;
  bottom: -150px;
  /* padding-top: 10rem; */
  /* padding-bottom: 10rem; */
}

div.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

div.polaroid {
  background-color: white;
  width: 300px;
  border: 20px solid white;
  border-radius: 15px;
}

div.content {
  padding: 20px;
  text-align: center;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 800px;
  color: hsl(218, 44%, 22%);
  word-spacing: 3px;
  font-size: 1.3rem;
}

span {
  font-family: "Outfit", sans-serif;
  font-weight: 400px;
  font-size: 0.9rem;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 375px) {
  
}
